<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bonfire</title>
    <link rel="icon" href="~/Content/Images/favicon.ico" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <style>
        body {
            background-position: right top;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
    @{ 
        string randomBG()
        {
            Random r = new Random();
            int n = r.Next(1, 5);
            return "loginbg" + n + ".jpg";
        }
    }
</head>
<body background="~/Content/Backgrounds/@randomBG()">
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/validator.js"></script>
</body>
</html>